*
{
	padding: 0;
	margin: 0;
}

body
{
	background-image: url('images/tlo_strony.jpg');
	background-attachment: fixed;
}

a
{
	color: teal;
	text-decoration: none;
}
		
a:hover
{
	color: #06376C;
}
				
/* KONTENER */

#kontener
{
	width: 1280px;
	margin: 0;
}

/* NAGŁÓWEK */

#header
{
	position: relative;
	margin-left: 300px;
	background-color: #2d1606;
	width: 1280px;
	height: 125px;
}

img.logo
{
	position: absolute;
	height: 50px;
	width: 26px;
	top: 10px;
	left: 640px;
}

img.tekst1
{
	position: absolute;
	height: 22px;
	width: 232px;
	top: 70px;
	left: 540px;
}

img.tekst2
{
	position: absolute;
	height: 11px;
	width: 117px;
	top: 95px;
	left: 598px;
}

img.adres
{
	position: absolute;
	height: 11px;
	width: 252px;
	right: 160px;
	top: 5px;
}

/* MENU */

#menu
{
	position: absolute;
	left: 160px;
	bottom: 20px;
}

#wlasciwe_menu li
{
	list-style-type: none;
	float: left;
	margin-left: 20px;
}

#wlasciwe_menu li a
{
	text-transform: uppercase;
	height: 31px;
	display: block;
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #e37e35;
}

#wlasciwe_menu li a:hover
{
	color: #CCCCCC;
}

span.link
{
	display: inline-block;
	margin-top: 10px;
}

/* OBRAZEK POD NAGŁÓWKIEM */

img.obrazek
{
	width: 1280px;
	height: 300px;
	margin-top: -1px;
	margin-left: 300px;
}

img.tlo_rezerwacja
{
	width: 1280px;
	margin-left: 300px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

#tekst_rezerwacja
{
	text-transform: uppercase;
	margin-left: 705px;
	margin-top: -30px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 19px;
	color: #4d0000;
}

/* ZAWARTOŚĆ */

#content
{
	position: relative;
	background-image: url('images/Content background.png');
	height: 1193px;
	width: 1280px;
	margin-left: 299px;
	border: 1px solid gray;
	
}

#glowny_content
{
	background-image: url('images/bck elementy.png');
	height: 1155px;
	width: 948px;
	margin-left: 166px;
	margin-top: 19px;
}

#powitanie
{
	width: 948px;
	margin-top: 70px;
	display: inline-block;
}

#powitanie p
{
	margin-left: 243px;
	font-family: 'Cambria', sans-serif;
	font-size: 32px;
	color: #824328;
	text-transform: uppercase;
}

#glowny_content .powitanie_lewa
{
	display: inline;
	float: left;
	margin-top: -20px;
	width: 251px;
	height: 7px;
}

#glowny_content .powitanie_prawa
{
	display: inline;
	float: right;
	margin-top: -20px;
	width: 251px;
	height: 7px;
}

#tekst_pod_powitaniem
{
	text-align: center;
	font-family: font-family: 'Cambria', sans-serif;
	font-size: 14px;
	margin-top: 30px;
	margin-left: auto;
	color: #595959;
	font-style: italic;
	text-transform: none;
}
#koniec_powitania
{
	display: inline-block;
}

#koniec_powitania .lewa
{
	display: inline;
	float: left;
	margin-top: 42px;
	padding-left: 15px;
	width: 420px;
	height: 3px;
}

#koniec_powitania .srodek
{
	display: inline-block;
	margin-top: -12px;
	margin-left: 430px;
	width: 93px;
	height: 24px;
}

#koniec_powitania .prawa
{
	display: inline;
	float: right;
	margin-top: -3px;
	padding-right: 5px;
	width: 420px;
	height: 3px;
}

img.koniec_powitania_lewa_img
{
	width: 410px;
	height: 3px;
}

img.koniec_powitania_prawa_img
{
	width: 410px;
	height: 3px;
}

#informacje
{
	
}
